
.live-head {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.live-head h2 {
  margin-left: 40px;
  width: 200px;
}

.live-head img {
  position: absolute;
  margin-top: 80px;

}

.contests-datas {
  position: relative;
  margin-top: 120px;
  color: aliceblue;
  height: 104vh;
  width: 900px;
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.contests-datas .cards {
  height: 280px;
}

.cards .card-bg {
  width: 110%;
  height: 100%;
  background-size: cover;
  margin-left: -50px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.4));
}

.products-container {
  position: absolute;
  margin-left: 140px;
  margin-top: 50px;
  z-index: 1;
  width: 290px;
  height: 220px;
  display: flex;
  justify-content: end;
  align-items: last baseline;
}

.products-container img {
   max-width: 100%;
  max-height: 100%;
filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.6));
}

.cards .play-free {
  position: absolute;
  z-index: 2;
  margin-left: 5.5rem;
  margin-top: 1.3rem;
}

.cards .play-free button {
    background-color: #047481;
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
  color: #ffffff;
  font-style: italic;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.cards .product-title {
  position: absolute;
  z-index: 2;
  margin-top: 6.5rem;
  margin-left: 1rem;
}

.cards .product-description {
  position: absolute;
  z-index: 2;
  width: 300px;
    margin-top: 9.2rem;
  margin-left: 1rem;
  font-size: 12px;
}

.cards .card-bottom-get {
   position: absolute;
   z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13rem;
  margin-left: 1rem;
}

.cards .card-bottom-get .get-count {
  /* position: absolute; */
   color: white;
  font-size: 0.77rem;
  width: 100px;
}

.cards .card-bottom-get button {
  cursor: pointer;
  background-image: linear-gradient(to right, #0e7490, #2b6cb0);
  border-radius: 0.5rem;
  padding: 0.4rem 0.7rem;
  color: white;
  border: none;
  font-size: 0.77rem;
}

.heading {
  position: absolute;
  color: #ffffff;
  margin-top: 80px;
}

.contests-datas::-webkit-scrollbar {
  width: 0.5rem;
}

.contests-datas::-webkit-scrollbar-track {
  background: #bbbbbb;
  height: 100px;
  height: 50%;
  border-radius: 10px;
}

.contests-datas::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  height: 50%;
}

.contests-datas::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 10px;
  height: 50%;
}
