* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Red Hat Display", sans-serif;
}

html::-webkit-scrollbar {
      width: 15px; 
   }

html::-webkit-scrollbar-track {
    background-color: #051c3f;
  }

html::-webkit-scrollbar-thumb {
    background: #00956a;
    border-radius: 4px;
  }

body {
 background-image: linear-gradient(
  135deg,
  hsl(245deg 63% 11%) 0%,
  hsl(207deg 100% 15%) 18%,
  hsl(196deg 100% 19%) 31%,
  hsl(185deg 100% 21%) 42%,
  hsl(175deg 76% 27%) 50%,
  hsl(171deg 100% 26%) 57%,
  hsl(166deg 100% 28%) 62%,
  hsl(161deg 100% 30%) 67%,
  hsl(162deg 100% 34%) 73%,
  hsl(166deg 100% 39%) 79%,
  hsl(170deg 100% 45%) 87%,
  hsl(173deg 100% 50%) 100%
);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

.link-unstyled {
  text-decoration: none;
  outline: none;
  color: inherit;
}